.btn-roll {
  @apply
    .text-grey-darkest
  ;

  background-image: linear-gradient(
    config('gradients.direction'),
    config('colors.grey-light'),
    config('colors.grey-dark')
  );
  text-shadow: 1px 1px 3px config('colors.grey-darkest');
}

.btn-pass {
  @apply
    .text-grey-light
  ;

  background-image: linear-gradient(
    config('gradients.direction'),
    config('colors.grey-darker'),
    config('colors.grey-darkest')
  );
  text-shadow: 1px 1px 3px config('colors.grey-darkest');
}

button[disabled] {
  @apply
    .opacity-25
    .cursor-not-allowed
  ;
}
