@import './variables';

body {
  background-color: $grey-darkest;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.game-die {
  $gradient-angle: 135deg;

  background-image: linear-gradient($gradient-angle, $grey-lightest, $grey);
  border-radius: 4px;
  color: $black;
  display: block;
  overflow: hidden;
  position: relative;
  width: 33vw;

  &::before {
    display: block;
    content: '';
    padding-top: 100%;
  }

  &.red {
    background-image: linear-gradient($gradient-angle, $red-light, $red-dark);
    color: $red-darkest;
  }

  + .game-die {
    margin-top: 2rem;
  }
}

.game-die-side {
  position: absolute;
  top: 0;

  &, svg {
    height: 100%;
    width: 100%;
  }

  svg {
    fill: currentColor;
  }
}

.text-blue-dark {
  color: $blue-dark;
}

.text-green-dark {
  color: $green-dark;
}

.text-red-dark {
  color: $red-dark;
}
